<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="courses" *ngFor="let course of courses">
    <course-card (courseSelected)="onCourseSelected($event)" [course]="course" [highlighted]="false" (toggleHighLight)="onToggle($event)" #highlighter="hl">
        <course-image [src]="course.iconUrl" *ngxUnless="!course.iconUrl"></course-image>
        <div class="course-description" (click)="highlighter.toggle()">
            {{course.longDescription}}
        </div>
    </course-card>
</div> 
